<!doctype html>
<html lang="fr">
<head>
     <meta charset="utf-8">
     <title>{% block title %}{% endblock %}</title>
     {% load staticfiles %}
     <script src="{% static 'jquery-2.1.4.min.js' %}"></script>
     <script src="{% static 'Chart.min.js' %}"></script>
     <script src="{% static 'semantic/semantic.min.js' %}"></script>
     <link rel="stylesheet" href="{% static 'semantic/semantic.min.css' %}">
     <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    
    {% block content %}Empty page{% endblock %}
    
    <script type="text/javascript">
        $('.ui.dropdown').dropdown();
    </script>
</body>
</html>