{% load navactive %}
{% load i18n %}

<nav class="navbar navbar-default">
     <div class="container-fluid">
         <div class="navbar-header">
             <a class="navbar-brand" href="/">pyClassBook</a>
         </div>
  
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{% navactive request 'students:index' %}">
                    <a href="{% url 'students:index' %}">{% trans 'Students' %}</a>
                </li>
                <li class="{% navactive request 'courses:index' %}">
                    <a href="{% url 'courses:index' %}">{% trans 'Courses' %}</a>
                </li>
                <li class="{% navactive request 'exams:index' %}">
                    <a href="{% url 'exams:index' %}">{% trans 'Exams' %}</a>
                </li>
             </ul>
             <ul class="nav navbar-nav navbar-right">
                 <li class="">
                     <a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a>
                 </li>
             </ul>
        </div>
        
    </div>
  
</nav>