{% extends "base.html" %}

{% load i18n %}

{% block content %}

<div class="ui huge message page">
    <h1 class="ui huge header">{{ APP_NAME }}</h1>
    <h3 class="sub header">v. {{ APP_VERSION }}</h3>
    <h3 class="sub header">{{ COPYRIGHT }}</h3>
</div>

<div class="ui piled very padded text container segment">
    <h2 class="ui header">{% trans 'Stats' %}</h2>
    {% blocktrans with st=counters.students mk=counters.marks cs=counters.courses sb=counters.subjects ex=counters.exams %}
    The database contains <b>{{cs}} courses</b> with <b>{{ex}} exams</b> and <b>{{sb}} subjects</b>; <b>{{st}} students</b> with <b>{{mk}} marks</b>.
    {% endblocktrans %}
</div>

<div class="ui piled very padded text container segment">
    {% trans "This should display in your browser ACCEPTED-LANGUAGE." %}
</div>

{% endblock %}