{% extends "base.html" %}

{% load i18n %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1>{{ APP_NAME }}</h1>
        <h2>v. {{ APP_VERSION }}</h2>
        <h3>{{ COPYRIGHT }}</h3>
    </div>
</div>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans 'Stats' %}</h2>
        </div>
        <div class="panel-body">
            {% blocktrans with st=counters.students mk=counters.marks cs=counters.courses sb=counters.subjects ex=counters.exams %}
            The database contains <b>{{cs}} courses</b> with <b>{{ex}} exams</b> and <b>{{sb}} subjects</b>; <b>{{st}} students</b> with <b>{{mk}} marks</b>.
            {% endblocktrans %}
        </div>
    </div>
</div>

<div class="container">

    <div class="alert alert-info">
        {% trans "This should display in your browser ACCEPTED-LANGUAGE." %}
    </div>

</div>

{% endblock %}