{% extends "base.html" %}

{% load i18n %}
{% load students_tags %}
{% load marks_tags %}
{% load courses_tags %}

{% block title %}
{% blocktrans trimmed with name=student.fullname %}
Student: {{ name }}
{% endblocktrans %}
{% endblock %}

{% block content %}
    
    <div class="jumbotron">
        <div class="container">
            <h1>{{ student.fullname }}</h1>
        </div>
    </div>

<!-- Comments -->
{% if student.comments %}
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans 'Comments' %}</h2>
        </div>
        <div class="panel-body">
            {{ student.comments }}
        </div>
    </div>
</div>
{% endif %}

<!-- Charts -->
<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">{% trans "Marks progression" %}</h2></div>
      <div class="panel-body">
          {% include 'charts/students_marks.html' %}
      </div>
    </div>
</div>

<!-- Courses List -->
<div class="container"> 
    {% for course in student.courses.all %}
    <div class="panel panel-default">
      <div class="panel-heading">
          <h2 class="panel-title">
              <a href="{% url 'courses:show' course.id %}">{{ course.name }}</a>&nbsp;
              ({{ course.place }}, {{ course|course_years }})
          </h2>
      </div>
      <div class="panel-body">
          <p>
              {% trans "Average:" %} {{ student|average_for_course:course|colorize_mark }},
              {% trans "Std. Dev.:" %} {{ student|stddev_for_course:course|colorize_mark }},
              {% trans "Marks Count:" %} {{ student|count_marks_for_course:course }}
          </p>
      </div>
      <table class="table">
            <thead>
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Mark" %}</th>
                <th>{% trans "Exam" %}</th>
                <th>{% trans "Subject" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for m in student|marks_for_course:course %}
            <tr>
                <td>{{ m.subject.exam.date }}</td>
                {% if m.mark >= 10 %}
                    <td class="bg-success">
                {% else %}
                    <td class="bg-danger">
                {% endif %}
                    {{ m.mark|colorize_mark }}</td>
                <td><a href="{% url 'exams:exam' m.subject.exam.id %}">{{ m.subject.exam.name }}</a></td>
                <td><a href="{% url 'exams:subject' m.subject.id %}">{{ m.subject.kind }}</a></td>
            </tr>
            {% endfor %}
            </tbody>
      </table>
    </div>
    {% endfor %}
</div>

{% endblock %}