{% extends "base.html" %}
{% load i18n %}
{% load marks_tags %}
{% load boolean_tags %}

{% block title %}
{% blocktrans trimmed with name=subject.exam.name kind=subject.kind %}
Subject: {{ name }} ({{kind}})
{% endblocktrans %}
{% endblock %}

{% block content %}
    
<div class="ui piled very padded container segment">
    <h1 class="ui header">{{ subject.kind }}</h1>
    <div class="sub header"><a href="{% url 'exams:exam' subject.exam.id %}">{{ subject.exam }}</a></div>
</div>

<!-- Title -->
<div class="ui container segment">
      <h2 class="ui header">{% trans "Title" %}</h2>
      <div class="sub header">{{ subject.title }}</div>
</div>

<!-- Marks -->
<div class="ui container segment">
      <h2 class="ui header">{% trans "Marks" %}</h2>
      <table class="ui very basic table">
          <thead>
          <tr>
              <th>{% trans "Student" %}</th>
              <th>{% trans "Mark" %}</th>
              <th>{% trans "Count In Average" %}</th>
              <th>{% trans "Comment" %}</th>
          </tr>
          </thead>
          <tbody>
          {% for mark in subject.marks %}
              <tr>
                  <td><a href="{% url 'students:show' mark.student.id %}">{{ mark.student }}</a></td>
                  {% if mark.mark >= 10 %}
                      <td class="positive">
                  {% else %}
                      <td class="negative">
                  {% endif %}
                      {{ mark.mark|colorize_mark }}</td>
                  <td>{{ mark.count|bool_as_icon }}</td>
                  <td>{{ mark.comment }}</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
</div>

{% endblock %}