{% extends "base.html" %}
{% load i18n %}
{% load marks_tags %}

{% block title %}
{% blocktrans trimmed with name=subject.exam.name kind=subject.kind %}
Subject: {{ name }} ({{kind}})
{% endblocktrans %}
{% endblock %}

{% block content %}
    
<div class="jumbotron">
    <div class="container">
        <h1>{{ subject.kind }}</h1>
        <h2><a href="{% url 'exams:exam' subject.exam.id %}">{{ subject.exam }}</a></h2>
    </div>
</div>

<!-- Title -->
<div class="container">
    <div class="panel panel-info">
      <div class="panel-heading"><h2 class="panel-title">{% trans "Title" %}</h2></div>
      <div class="panel-body">{{ subject.title }}</div>
    </div>
</div>

<!-- Marks -->
<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">{% trans "Marks" %}</h2></div>
      <table class="table">
          <tr>
              <th>{% trans "Student" %}</th>
              <th>{% trans "Mark" %}</th>
              <th>{% trans "Comment" %}</th>
          </tr>
          {% for mark in subject.marks %}
              <tr>
                  <td><a href="{% url 'students:show' mark.student.id %}">{{ mark.student }}</a></td>
                  {% if mark.mark >= 10 %}
                      <td class="bg-success">
                  {% else %}
                      <td class="bg-danger">
                  {% endif %}
                      {{ mark.mark|colorize_mark }}</td>
                  <td>{{ mark.comment }}</td>
              </tr>
          {% endfor %}
      </table>
</div>

{% endblock %}