{% extends "base.html" %}
{% load table_tags %}
{% load i18n %}

{% block title %}{% trans "Exams List"  %}{% endblock %}

{% block content %}

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th><a href="?{% sort_row request 'order_by' 'date' %}">{% trans "Date" %}</a></th>
            <th><a href="?{% sort_row request 'order_by' 'name' %}">{% trans "Exam" %}</a></th>
            <th><a href="?{% sort_row request 'order_by' 'course__name' %}">{% trans "Course" %}</a></th>
            <th><a href="?{% sort_row request 'order_by' 'time_allowed' %}">{% trans "Time Allowed" %}</a></th>
            <th><a href="?{% sort_row request 'order_by' 'place' %}">{% trans "Place" %}</a></th>
        </tr>
        </thead>
        <tbody>
        {% for exam in exams %}
        <tr>
            <td>{{ exam.date }}</td>
            <td><a href="{% url 'exams:exam' exam.id %}">{{ exam.name }}</a></td>
            <td><a href="{% url 'courses:show' exam.course.id %}">{{ exam.course.name }}</a></td>
            <td>{{ exam.time_allowed }} {% trans "hour(s)" %}</td>
            <td>{{ exam.place }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% include "paginate.html" with items=exams %}
{% endblock %}