{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Exams List"  %}{% endblock %}

{% block content %}

<div class="container">
    <table class="table">
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Exam" %}</th>
            <th>{% trans "Course" %}</th>
            <th>{% trans "Time Allowed" %}</th>
            <th>{% trans "Place" %}</th>
        </tr>
    {% for exam in exams %}
        <tr>
            <td>{{ exam.date }}</td>
            <td><a href="{% url 'exams:exam' exam.id %}">{{ exam.name }}</a></td>
            <td><a href="{% url 'courses:show' exam.course.id %}">{{ exam.course.name }}</a></td>
            <td>{{ exam.time_allowed }} {% trans "hour(s)" %}</td>
            <td>{{ exam.place }}</td>
        </tr>
    {% endfor %}
    </table>
</div>


{% endblock %}