{% extends "base.html" %}
{% load marks_tags %}
{% load i18n %}

{% block title %}
{% blocktrans trimmed with name=exam.name c=exam.course.name %}
Exam: {{ name }} ({{c}})
{% endblocktrans %}
{% endblock %}

{% block content %}
    
<div class="jumbotron">
    <div class="container">
        <h1>{{ exam }}</h1>
        <h2>
            <a href="{% url 'courses:show' exam.course.id %}">{{ exam.course }}</a> 
        </h2>
        <h3>
            {{ exam.date }}, {{ exam.place }}, {{ exam.time_allowed }} {% trans 'hour(s)' %}
        </h3>
    </div>
</div>

<!-- Subjects -->
<div class="container">    
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">{% trans "Subjects" %}</h2></div>
      <ul class="list-group">
        {% for s in exam.subjects %}
            <li class="list-group-item">
                <a href="{% url 'exams:subject' s.id %}">{{ s.kind }}</a>
                <div class="pull-right">
                    <span class="label label-default">
                        {% trans "Marks Count"%} {{ s.count_marks }}
                    </span>&nbsp;
                    <span class="label label-default">
                        {% trans "Average"%} {{ s.average }}
                    </span>&nbsp;
                    <span class="label label-default">
                        {% trans "Std. Dev."%} {{ s.stddev }}
                    </span>
                </div>
            </li>
        {% endfor %}
      </ul>
    </div>
</div>

<!-- Stats -->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h2 class="panel-title">{% trans "Statistics" %}</h2></div>
        <table class="table">
            <thead>
            <tr>
                <th>{% trans "Marks Count" %}</th>
                <th>{% trans "Average" %}</th>
                <th>{% trans "Std. Dev." %}</th>
                <th>{% trans "Median" %}</th>
                <th>{% trans "Variance" %}</th>
                <th>{% trans "Higher Mark" %}</th>
                <th>{% trans "Lower Mark" %}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span class="badge">{{ exam.count_marks }}</span></td>
                <td><span class="badge">{{ exam.average }}</span></td>
                <td><span class="badge">{{ exam.stddev }}</span></td>
                <td><span class="badge">{{ exam.median }}</span></td>
                <td><span class="badge">{{ exam.variance }}</span></td>
                <td><span class="badge">{{ exam.higher_mark }}</span></td>
                <td><span class="badge">{{ exam.lower_mark }}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Charts -->
<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">{% trans "Marks distribution" %}</h2></div>
      <div class="panel-body">
          {% include 'charts/marks.html' %}
      </div>
    </div>
</div>

<!-- Marks -->
<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">{% trans "Marks" %}</h2></div>
      <table class="table">
          <thead>
          <tr>
              <th>{% trans "Student" %}</th>
              <th>{% trans "Mark" %}</th>
              <th>{% trans "Subject" %}</th>
          </tr>
          </thead>
          <tbody>
          {% for mark in exam.marks %}
              <tr>
                  <td><a href="{% url 'students:show' mark.student.id %}">{{ mark.student }}</a></td>
                  {% if mark.mark >= 10 %}
                      <td class="bg-success">
                  {% else %}
                      <td class="bg-danger">
                  {% endif %}
                      {{ mark.mark|colorize_mark }}</td>
                  <td><a href="{% url 'exams:subject' mark.subject.id %}">{{ mark.subject.kind }}</a></td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
</div>

{% endblock %}