{% extends "base.html" %}
{% load marks_tags %}
{% load boolean_tags %}
{% load i18n %}

{% block title %}
{% blocktrans trimmed with name=exam.name c=exam.course.name %}
Exam: {{ name }} ({{c}})
{% endblocktrans %}
{% endblock %}

{% block content %}
    
<div class="ui piled very padded container segment">
    <h1 class="ui header">{{ exam }}</h1>
    <div class="sub header">
        <a href="{% url 'courses:show' exam.course.id %}">{{ exam.course }}</a> 
    </div>
    <div="sub header">
        {{ exam.date }}, {{ exam.place }}, {{ exam.time_allowed }} {% trans 'hour(s)' %}
    </div>
</div>

<!-- Subjects -->
<div class="ui container segment">    
    <h2 class="ui header">{% trans "Subjects" %}</h2>
    <div class="ui segments">
    {% for s in exam.subjects %}
    <div class="ui segment">
        <h3 class="ui header"><a href="{% url 'exams:subject' s.id %}">{{ s.kind }}</a></h3>
        <div class="ui">
            <span class="ui label">
                {% trans "Marks Count"%}
                <div class="detail">{{ s.count_marks }}</div>
            </span>&nbsp;
            <span class="ui label">
                {% trans "Average"%}
                <div class="detail">{{ s.average }}</div>
            </span>&nbsp;
            <span class="ui label">
                {% trans "Std. Dev."%}
                <div class="detail">{{ s.stddev }}</div>
            </span>
        </div>
    </div>
    {% endfor %}
    </div>
</div>

<!-- Stats -->
<div class="ui container segment">
    <h2 class="ui header">{% trans "Statistics" %}</h2>
    <table class="ui very basic single line compact table">
        <thead>
        <tr>
            <th>{% trans "Marks Count" %}</th>
            <th>{% trans "Average" %}</th>
            <th>{% trans "Std. Dev." %}</th>
            <th>{% trans "Median" %}</th>
            <th>{% trans "Variance" %}</th>
            <th>{% trans "Higher Mark" %}</th>
            <th>{% trans "Lower Mark" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span class="badge">{{ exam.count_marks }}</span></td>
            <td><span class="badge">{{ exam.average }}</span></td>
            <td><span class="badge">{{ exam.stddev }}</span></td>
            <td><span class="badge">{{ exam.median }}</span></td>
            <td><span class="badge">{{ exam.variance }}</span></td>
            <td><span class="badge">{{ exam.higher_mark }}</span></td>
            <td><span class="badge">{{ exam.lower_mark }}</span></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Charts -->
<div class="ui container segment">
    <h2 class="ui header">{% trans "Marks distribution" %}</h2>
    {% include 'charts/exams_marks.html' %}
</div>

<!-- Marks -->
<div class="ui container segment">
      <h2 class="ui header">{% trans "Marks" %}</h2>
      <table class="ui very basic table">
          <thead>
          <tr>
              <th>{% trans "Student" %}</th>
              <th>{% trans "Mark" %}</th>
              <th>{% trans "Count In Average" %}</th>
              <th>{% trans "Subject" %}</th>
              <th>{% trans "Comments" %}</th>
          </tr>
          </thead>
          <tbody>
          {% for mark in exam.marks %}
              <tr>
                  <td><a href="{% url 'students:show' mark.student.id %}">{{ mark.student }}</a></td>
                  {% if mark.mark >= 10 %}
                      <td class="positive">
                  {% else %}
                      <td class="negative">
                  {% endif %}
                      {{ mark.mark|colorize_mark }}</td>
                  <td>{{ mark.count|bool_as_icon }}</td>
                  <td><a href="{% url 'exams:subject' mark.subject.id %}">{{ mark.subject.kind }}</a></td>
                  <td>{{ mark.comment }}</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
</div>

{% endblock %}