{% extends "base.html" %}
{% load students_tags %}
{% load marks_tags %}
{% load courses_tags %}
{% load boolean_tags %}
{% load i18n %}

{% block title %}
{% blocktrans trimmed with name=course.name year=course|course_years %}
Course: {{ name }} ({{year}})
{% endblocktrans %}
{% endblock %}

{% block content %}
    
    <div class="jumbotron">
        <div class="container">
            <h1>{{ course.name }}</h1>
            <h2>{{ course.place }}, {{ course|course_years }}, {{ course.kind }}</h2>
        </div>
    </div>

<!-- Exams -->
<div class="container">    
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">{% trans "Exams" %}</h2></div>
      <table class="table">
          <thead>
          <tr>
              <th>{% trans 'Exam' %}</th>
              <th>{% trans 'Date' %}</th>
              <th>{% trans 'Subjects' %}</th>
              <th>{% trans 'Marks' %}</th>
              <th>{% trans 'Average' %}</th>
              <th>{% trans 'Std. Dev.' %}</th>
              <th>{% trans 'Median' %}</th>
          </tr>
          </thead>
          <tbody>
          {% for exam in course.exams %}
          <tr>
              <td><a href="{% url 'exams:exam' exam.id %}">{{ exam.name }}</a></td>
              <td>{{ exam.date }}</td>
              <td>{{ exam.count_subjects }}</td>
              <td>{{ exam.count_marks }}</td>
              <td>{{ exam.average }}</td>
              <td>{{ exam.stddev }}</td>
              <td>{{ exam.median }}</td>
          </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
</div>

<!-- Charts -->
<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">{% trans "Averages distribution" %}</h2></div>
      <div class="panel-body">
          {% include 'charts/courses_averages.html' %}
      </div>
    </div>
</div>

<!-- Students -->
<div class="container">    
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">{% trans "Students" %}</h2></div>
      <table class="table table-hover">
          <thead>
          <tr>
              <th>{% trans "Name" %}</th>
              <th>{% trans "Average" %}</th>
              <th>{% trans "Std. Dev." %}</th>
              <th>{% trans "Marks count" %}</th>
              <th>{% trans "e-mail" %}</th>
              <th>{% trans "Natv. Lang." %}</th>
              <th>{% trans "3rd Time" %}</th>
          </tr>
          </thead>
          <tbody>
          {% for student in students %}
          <tr>
              <td><a href="{% url 'students:show' student.id %}">{{ student }}</a></td>
              <td>{{ student|average_for_course:course|colorize_mark }}</td>
              <td>{{ student|stddev_for_course:course }}</td>
              <td>{{ student|count_marks_for_course:course }}</td>
              <td><a href="mailto:{{s.email}}">{{ student.email }}</a></td>
              <td>{{ student.native_lang|bool_as_icon }}</td>
              <td>{{ student.third_time|bool_as_icon }}</td>
          </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
</div>

{% endblock %}