{% extends "base.html" %}
{% load students_tags %}
{% load marks_tags %}
{% load courses_tags %}
{% load boolean_tags %}
{% load colorize_tags %}
{% load i18n %}

{% block title %}
{% blocktrans trimmed with name=course.name year=course|course_years %}
Course: {{ name }} ({{year}})
{% endblocktrans %}
{% endblock %}

{% block content %}
    
<div class="ui piled very padded container segment">
    <h1 class="ui header">{{ course.name }}</h1>
    <div class="sub header">{{ course.place }}, {{ course|course_years }}, {{ course.kind }}</div>
</div>

<!-- Exams -->
<div class="ui container segment">    
      <h2 class="ui header">{% trans "Exams" %}</h2>
      <table class="ui very basic single line table">
          <thead>
          <tr>
              <th>{% trans 'Exam' %}</th>
              <th>{% trans 'Date' %}</th>
              <th>{% trans 'Subjects' %}</th>
              <th>{% trans 'Marks' %}</th>
              <th>{% trans 'Average' %}</th>
              <th>{% trans 'Std. Dev.' %}</th>
              <th>{% trans 'Median' %}</th>
          </tr>
          </thead>
          <tbody>
          {% for exam in course.exams %}
          <tr>
              <td><a href="{% url 'exams:exam' exam.id %}">{{ exam.name }}</a></td>
              <td>{{ exam.date }}</td>
              <td><span class="ui circular label">{{ exam.count_subjects }}</span></td>
              <td><span class="ui circular label">{{ exam.count_marks }}</span></td>
              <td><span class="ui circular label {{exam.average|colorize_label_average}}">{{ exam.average }}</span></td>
              <td><span class="ui circular label {{exam.stddev|colorize_label_stddev}}">{{ exam.stddev }}</span></td>
              <td><span class="ui circular label {{exam.median|colorize_label_mark}}">{{ exam.median }}</span></td>
          </tr>
          {% endfor %}
          </tbody>
      </table>
</div>

<!-- Charts -->
<div class="ui container segment">
    <h2 class="ui header">{% trans "Averages distribution" %}</h2>
    {% include 'charts/courses_averages.html' %}
</div>

<!-- Students -->
<div class="ui container segment">    
      <h2 class="ui header">{% trans "Students" %}</h2>
      <table class="ui very basic table">
          <thead>
          <tr>
              <th>{% trans "Name" %}</th>
              <th>{% trans "Average" %}</th>
              <th>{% trans "Std. Dev." %}</th>
              <th>{% trans "Marks count" %}</th>
              <th>{% trans "e-mail" %}</th>
              <th>{% trans "Natv. Lang." %}</th>
              <th>{% trans "3rd Time" %}</th>
              <th>{% trans "Comments" %}</th>
          </tr>
          </thead>
          <tbody>
          {% for student in students %}
          <tr>
              <td><a href="{% url 'students:show' student.id %}">{{ student }}</a></td>
              <td>
                  {% with avg=student|average_for_course:course %}
                  <span class="ui circular label {{avg|colorize_label_average}}">{{avg}}</span>
                  {% endwith %}
              </td>
              <td>
                  {% with stddev=student|stddev_for_course:course %}
                  {% if avg %}
                  <span class="ui circular label {{stddev|colorize_label_stddev}}">{{avg}}</span>
                  {% endif %}
                  {% endwith %}
              </td>
              <td>
                  <span class="ui circular label">{{ student|count_marks_for_course:course }}</span>
              </td>
              <td><a href="mailto:{{s.email}}">{{ student.email }}</a></td>
              <td>{{ student.native_lang|bool_as_icon }}</td>
              <td>{{ student.third_time|bool_as_icon }}</td>
              <td>{{ student.comments }}</td>
          </tr>
          {% endfor %}
          </tbody>
      </table>
</div>

{% endblock %}