
/**
* FIX: links insite LABEL and BADGE should not be blue (too hard to read)
**/
.label a, .badge a {
color: white;
}

/**
* FIX: remove vertical white space between NAVBAR and JUMBOTRON.
**/
.navbar {
    margin-bottom: 0px;
}

body {
    margin-top: 50px;
}